The scraped movie plots were retrieved using Scrapy. However, the website didnt' have genres or boxoffice which I needed for analysis. This file accesses an API for themoviedb.org (TMDB.org) to pull genres for the scraped titles. I also used The-Numbers (from class) to scrape boxoffice figures.

In [1]:
import requests

request = requests.get('http://api.themoviedb.org')
print(request.text)

In [3]:
print(request.status_code)

200

In [8]:
request = requests.get('https://api.themoviedb.org/3/search/movie?api_key=c6791e522de342ab2838a404558085e5&language=en-US&query=avatar&page=1&include_adult=false')

In [9]:
request

In [11]:
rhyme_json = request.json()

In [36]:
print(rhyme_json['results'][0]['title'])

Avatar

In [42]:
print(rhyme_json['results'][0]['genre_ids'])

[28, 12, 14, 878]

In [43]:
import pandas as pd

In [127]:
df = pd.read_csv("~/desktop/spoiler_data_raw/movie_spoilers_all.csv")

In [128]:
df.head()

,spoiler,title,url
0,"In 1997, young JD Vance (Owen Aztalos) lives i...",HILLBILLY ELEGY,https://themoviespoiler.com/movies/hillbilly-e...
1,Jack Foster (Micheal Richardson) is the manage...,MADE IN ITALY,https://themoviespoiler.com/movies/made-in-italy/
2,Paris 1934 – an elderly Marie Curie (Rosamund ...,RADIOACTIVE,https://themoviespoiler.com/movies/radioactive/
3,1919 – In the Eastern European town of Schlups...,AN AMERICAN PICKLE,https://themoviespoiler.com/movies/an-american...
4,"1983 – Up in the Orbita-4 spaceship, cosmonaut...",SPUTNIK,https://themoviespoiler.com/movies/sputnik/

In [129]:
df.size

3246

In [130]:
df.shape

(1082, 3)

In [131]:
df.columns

Index(['spoiler', 'title', 'url'], dtype='object')

In [132]:
df.ndim

2

In [136]:
import numpy as np

In [137]:
df.insert(2,"date",np.NaN)

In [138]:
df.head(2)

,spoiler,title,date,url
0,"In 1997, young JD Vance (Owen Aztalos) lives i...",HILLBILLY ELEGY,NaN,https://themoviespoiler.com/movies/hillbilly-e...
1,Jack Foster (Micheal Richardson) is the manage...,MADE IN ITALY,NaN,https://themoviespoiler.com/movies/made-in-italy/

In [139]:
new = df['title'].str.split(" \(", n=1, expand=True)

In [140]:
new[1:2]

               0     1
1  MADE IN ITALY  None

In [141]:
df['title1'] = new[0]
df['date1'] = new[1]

In [142]:
df.columns

Index(['spoiler', 'title', 'date', 'url', 'title1', 'date1'], dtype='object')

Some of the titles had the date (year) in them after a "-" -- I wanted to pull the year out of the title and put it into the date column

In [143]:
df['date1'] = df['date1'].str.replace("\)", "")

In [144]:
df['date1']

0       None
1       None
2       None
3       None
4       None
        ...
1077    None
1078    2018
1079    None
1080    None
1081    None
Name: date1, Length: 1082, dtype: object

In [145]:
orig_title = df.pop("title")

In [146]:
new_title = df.pop("title1")
new_date = df.pop("date1")

In [147]:
df.insert(1, 'title', new_title)

In [148]:
df.insert(2, 'dates', new_date)

In [149]:
del df['date']

In [150]:
df.head()

,spoiler,title,dates,url
0,"In 1997, young JD Vance (Owen Aztalos) lives i...",HILLBILLY ELEGY,None,https://themoviespoiler.com/movies/hillbilly-e...
1,Jack Foster (Micheal Richardson) is the manage...,MADE IN ITALY,None,https://themoviespoiler.com/movies/made-in-italy/
2,Paris 1934 – an elderly Marie Curie (Rosamund ...,RADIOACTIVE,None,https://themoviespoiler.com/movies/radioactive/
3,1919 – In the Eastern European town of Schlups...,AN AMERICAN PICKLE,None,https://themoviespoiler.com/movies/an-american...
4,"1983 – Up in the Orbita-4 spaceship, cosmonaut...",SPUTNIK,None,https://themoviespoiler.com/movies/sputnik/

In [151]:
df.rename(columns={'dates':'date'}, inplace=True)

In [152]:
df.head()

,spoiler,title,date,url
0,"In 1997, young JD Vance (Owen Aztalos) lives i...",HILLBILLY ELEGY,None,https://themoviespoiler.com/movies/hillbilly-e...
1,Jack Foster (Micheal Richardson) is the manage...,MADE IN ITALY,None,https://themoviespoiler.com/movies/made-in-italy/
2,Paris 1934 – an elderly Marie Curie (Rosamund ...,RADIOACTIVE,None,https://themoviespoiler.com/movies/radioactive/
3,1919 – In the Eastern European town of Schlups...,AN AMERICAN PICKLE,None,https://themoviespoiler.com/movies/an-american...
4,"1983 – Up in the Orbita-4 spaceship, cosmonaut...",SPUTNIK,None,https://themoviespoiler.com/movies/sputnik/

In [153]:
df['date'].describe()

count      114
unique      23
top       2019
freq        39
Name: date, dtype: object

In [154]:
df['url'][10:20]

10    https://themoviespoiler.com/movies/words-on-ba...
11    https://themoviespoiler.com/movies/chemical-he...
12    https://themoviespoiler.com/movies/the-secret-...
13    https://themoviespoiler.com/movies/the-one-and...
14    https://themoviespoiler.com/movies/bill-ted-fa...
15    https://themoviespoiler.com/movies/the-new-mut...
16    https://themoviespoiler.com/movies/dragon-ball...
17      https://themoviespoiler.com/movies/escape-room/
18    https://themoviespoiler.com/movies/a-dogs-way-...
19       https://themoviespoiler.com/movies/green-book/
Name: url, dtype: object

In [155]:
df.to_csv('~/desktop/workingdata.csv')

In [269]:
df = pd.read_csv("~/desktop/workingdata.csv")

In [270]:
df.head()

,spoiler,title,date,url
0,"In 1997, young JD Vance (Owen Aztalos) lives i...",HILLBILLY ELEGY,NaN,https://themoviespoiler.com/movies/hillbilly-e...
1,Jack Foster (Micheal Richardson) is the manage...,MADE IN ITALY,NaN,https://themoviespoiler.com/movies/made-in-italy/
2,Paris 1934 – an elderly Marie Curie (Rosamund ...,RADIOACTIVE,NaN,https://themoviespoiler.com/movies/radioactive/
3,1919 – In the Eastern European town of Schlups...,AN AMERICAN PICKLE,NaN,https://themoviespoiler.com/movies/an-american...
4,"1983 – Up in the Orbita-4 spaceship, cosmonaut...",SPUTNIK,NaN,https://themoviespoiler.com/movies/sputnik/

In [271]:
test_df = df

In [272]:
test_df['title'] = test_df['title'].str.title()

In [273]:
test_df['title']

0                       Hillbilly Elegy
1                         Made In Italy
2                           Radioactive
3                    An American Pickle
4                               Sputnik
                     ...
1073            Can You Ever Forgive Me
1074                          Destroyer
1075    The Nutcracker And The 4 Realms
1076                  Welcome To Marwen
1077                  Holmes And Watson
Name: title, Length: 1078, dtype: object

In [274]:
df['title'] = df['title'].str.title()

In [275]:
import re

In [276]:
test_df['url']

0       https://themoviespoiler.com/movies/hillbilly-e...
1       https://themoviespoiler.com/movies/made-in-italy/
2         https://themoviespoiler.com/movies/radioactive/
3       https://themoviespoiler.com/movies/an-american...
4             https://themoviespoiler.com/movies/sputnik/
                              ...
1073    https://themoviespoiler.com/2018Spoilers/CanYo...
1074    https://themoviespoiler.com/2018Spoilers/Destr...
1075    https://themoviespoiler.com/2018Spoilers/Nutcr...
1076    https://themoviespoiler.com/2018Spoilers/Marwe...
1077    https://themoviespoiler.com/2018Spoilers/Holme...
Name: url, Length: 1078, dtype: object

Some of the URLs (many of them) had the missing year in the URLs (as you can from the example above). I wanted to pull the year out of the URL and put it into the missing 'Year' column.

In [277]:
test = df['url'].str.extract("([2][0-9]{3})")

In [278]:
test.describe()

           0
count    783
unique    21
top     2015
freq     161

In [279]:
df['new_date'] = test

In [281]:
test_df = df

In [282]:
import pandas as pd

In [283]:
df.columns

Index(['spoiler', 'title', 'date', 'url', 'new_date'], dtype='object')

In [284]:
df = df[['spoiler', 'title', 'date', 'new_date', 'url']]

In [285]:
test_df = test_df['date'].combine_first(test_df['new_date'])

In [286]:
test_df = df

In [287]:
test_df['date2'] = test_df['date'].combine_first(test_df['new_date'])

In [288]:
test_df['date2'].describe()

count      811
unique      27
top       2015
freq       159
Name: date2, dtype: object

In [289]:
test_df.to_csv('~/desktop/test.csv')

In [290]:
del test_df['date']

In [291]:
del test_df['new_date']

In [292]:
test_df.columns

Index(['spoiler', 'title', 'url', 'date2'], dtype='object')

In [293]:
test_df = test_df[['spoiler', 'title', 'date2', 'url']]

In [295]:
test_df.rename(columns={"spoiler": "spoiler", "title": "title", "date2": "date", "url": "url"})

,spoiler,title,date,url
0,"In 1997, young JD Vance (Owen Aztalos) lives i...",Hillbilly Elegy,NaN,https://themoviespoiler.com/movies/hillbilly-e...
1,Jack Foster (Micheal Richardson) is the manage...,Made In Italy,NaN,https://themoviespoiler.com/movies/made-in-italy/
2,Paris 1934 – an elderly Marie Curie (Rosamund ...,Radioactive,NaN,https://themoviespoiler.com/movies/radioactive/
3,1919 – In the Eastern European town of Schlups...,An American Pickle,NaN,https://themoviespoiler.com/movies/an-american...
4,"1983 – Up in the Orbita-4 spaceship, cosmonaut...",Sputnik,NaN,https://themoviespoiler.com/movies/sputnik/
...,...,...,...,...
1073,Lee goes to a dinner party at the house of Mar...,Can You Ever Forgive Me,2018,https://themoviespoiler.com/2018Spoilers/CanYo...
1074,"At the police station, her boss tells her she’...",Destroyer,2018,https://themoviespoiler.com/2018Spoilers/Destr...
1075,The Stahlbaums attend a party hosted by the ch...,The Nutcracker And The 4 Realms,2018,https://themoviespoiler.com/2018Spoilers/Nutcr...
1076,Mark puts the Wendy doll away along with other...,Welcome To Marwen,2018,https://themoviespoiler.com/2018Spoilers/Marwe...
1077,"In the present day, Holmes (now played by Will...",Holmes And Watson,2018,https://themoviespoiler.com/2018Spoilers/Holme...

In [296]:
test_df = test_df.rename(columns={"spoiler": "spoiler", "title": "title", "date2": "date", "url": "url"})

In [298]:
test_df.to_csv('~/desktop/workingdata2.csv')

In [300]:
df = pd.read_csv('~/desktop/workingdata.csv')

In [301]:
df.describe()

        Unnamed: 0         date
count  1078.000000   811.000000
mean    538.500000  2015.637485
std     311.336099     2.854371
min       0.000000  1999.000000
25%     269.250000  2015.000000
50%     538.500000  2016.000000
75%     807.750000  2017.000000
max    1077.000000  2020.000000

In [304]:
df.shape

(1078, 5)

In [305]:
df.columns

Index(['Unnamed: 0', 'spoiler', 'title', 'date', 'url'], dtype='object')

In [308]:
del df['Unnamed: 0']

In [310]:
test_df = df

In [313]:
test_df['date'] = test_df['date'].astype('Int32')

In [315]:
test_df['date'] = test_df['date'].astype(str)

In [317]:
test_df.to_csv('~/desktop/workingdata.csv')

In [318]:
df = test_df

In [321]:
df.columns

Index(['spoiler', 'title', 'date', 'url'], dtype='object')

***THIS IS THE PART WHERE I USE THE TMDB.ORG API TO PULL GENRES FOR THE TITLES - I settle on primary genre as most useful

In [322]:
import requests

In [324]:
request = requests.get('http://api.themoviedb.org')

In [327]:
request = requests.get('https://api.themoviedb.org/3/search/movie?api_key=c6791e522de342ab2838a404558085e5&language=en-US&query=mars+attacks&page=1&include_adult=false')

In [328]:
request

In [329]:
request = request.json()

In [330]:
print(request['results'][0]['title'])

Mars Attacks!

In [331]:
print(request['results'][0]['genre_ids'])

[35, 14, 878]

In [332]:
print(request['results'][0]['release_date'])

1996-12-12

In [333]:
request = requests.get('https://api.themoviedb.org/3/search/movie?api_key=c6791e522de342ab2838a404558085e5&language=en-US&query=mars+attacks&page=1&include_adult=false&year=1996')

In [334]:
request = request.json()

In [335]:
print(request['results'][0]['title'])

Mars Attacks!

In [336]:
df.columns

Index(['spoiler', 'title', 'date', 'url'], dtype='object')

In [347]:
test_df = df

In [348]:
test_df['searchstr'] = test_df.title.str.replace('[^a-zA-Z0-9 ]', '')

In [349]:
test_df.columns

Index(['spoiler', 'title', 'date', 'url', 'searchstr'], dtype='object')

In [351]:
test_df['searchstr'] = test_df['searchstr'].replace(' ', '+', regex=True)

In [354]:
test_df.to_csv('~/desktop/workingdata.csv')

In [363]:
test_df['apistr'] = 'https://api.themoviedb.org/3/search/movie?api_key=c6791e522de342ab2838a404558085e5&language=en-US&query=' + test_df['searchstr'] + '&page=1&include_adult=false&year=' + test_df['date'] + ''''''

In [364]:
test_df.apistr

0       https://api.themoviedb.org/3/search/movie?api_...
1       https://api.themoviedb.org/3/search/movie?api_...
2       https://api.themoviedb.org/3/search/movie?api_...
3       https://api.themoviedb.org/3/search/movie?api_...
4       https://api.themoviedb.org/3/search/movie?api_...
                              ...
1073    https://api.themoviedb.org/3/search/movie?api_...
1074    https://api.themoviedb.org/3/search/movie?api_...
1075    https://api.themoviedb.org/3/search/movie?api_...
1076    https://api.themoviedb.org/3/search/movie?api_...
1077    https://api.themoviedb.org/3/search/movie?api_...
Name: apistr, Length: 1078, dtype: object

In [372]:
test_df.to_csv('~/desktop/test.csv')

In [373]:
test_df.to_csv('~/desktop/workingdata.csv')

In [408]:
test_df = df

In [409]:
df.shape

(1078, 6)

In [417]:
titles = list()
genres = list()
for index, row in test_df.iterrows():
    try:
        request = requests.get(row['apistr'])
        request = request.json()
        titles.append(request['results'][0]['title'])
        genres.append(request['results'][0]['genre_ids'])
    except:
        continue

In [421]:
len(titles)

1058

In [422]:
len(genres)

1058

In [424]:
genre_list = list(zip(titles,genres))

In [428]:
type(genre_list)

list

In [433]:
df2 = pd.DataFrame(genre_list, columns = ['title', 'genre'])

In [436]:
df2.to_csv('~/desktop/genrelist.csv')

In [439]:
df.columns

Index(['spoiler', 'title', 'date', 'url', 'searchstr', 'apistr'], dtype='object')

In [445]:
df['lower_title'] = df.title.str.lower()

In [447]:
df2['lower_title'] = df2.title.str.lower()

In [450]:
df_join = pd.merge(df, df2, on='lower_title', how='outer')

In [451]:
len(df_join)

1187

In [452]:
titles = list()
genres = list()
idx = list()
for index, row in test_df.iterrows():
    try:
        request = requests.get(row['apistr'])
        request = request.json()
        titles.append(request['results'][0]['title'])
        genres.append(request['results'][0]['genre_ids'])
        idx.append(index)
    except:
        continue

In [453]:
len(titles)

1058

In [454]:
len(genres)

1058

In [455]:
len(idx)

1058

In [458]:
output = list(zip(idx,titles,genres))

In [461]:
df3 = pd.DataFrame(output, columns = ['idx', 'title', 'genre'])

In [463]:
df3.shape

(1058, 3)

In [465]:
df3.to_csv("~/desktop/genrelist_with_idx.csv")

In [467]:
df_new = pd.DataFrame(df3).set_index('idx')

In [469]:
merge_df = df.merge(df_new, left_index=True, right_index=True)

In [471]:
merge_df.shape

(1058, 9)

In [472]:
del merge_df['title_x']

In [473]:
del merge_df['lower_title']

In [474]:
merge_df.columns

Index(['spoiler', 'date', 'url', 'searchstr', 'apistr', 'title_y', 'genre'], dtype='object')

In [475]:
merge_df = merge_df[['spoiler', 'title_y', 'date', 'genre', 'url', 'searchstr', 'apistr']]

In [476]:
merge_df.columns

Index(['spoiler', 'title_y', 'date', 'genre', 'url', 'searchstr', 'apistr'], dtype='object')

In [477]:
merge_df.columns = ['spoiler', 'title', 'year', 'genre', 'url', 'searchstr', 'apistr']

In [478]:
merge_df.columns

Index(['spoiler', 'title', 'year', 'genre', 'url', 'searchstr', 'apistr'], dtype='object')

In [480]:
merge_df.to_csv('~/desktop/merged_df.csv')

In [481]:
merge_df['spoiler'].replace('', np.nan, inplace=True)

In [482]:
merge_df.shape

(1058, 7)

In [483]:
merge_df.dropna(subset=['spoiler'], inplace=True)

In [484]:
merge_df.shape

(1053, 7)

In [486]:
merge_df.to_csv('~/desktop/merged_df.csv')

In [587]:
df = pd.read_csv('~/desktop/merged_df.csv')

In [588]:
del df['Unnamed: 0']

In [589]:
df.shape

(1053, 7)

In [610]:
test_df = df

In [611]:
test = test_df['genre'][0]

In [612]:
test

'[18]'

In [613]:
test_df.shape

(1053, 7)

In [614]:
test_df['genre'] = test_df['genre'].str.replace('[', '')

In [615]:
test_df['genre'] = test_df['genre'].str.replace(']', '')

In [620]:
test = test_df['genre'].str.extract("(^[^\d]*(\d+))")

In [624]:
test_df['primary_genre'] = test[0]

In [626]:
df = test_df

In [627]:
df.to_csv('~/desktop/latest_data.csv', index = False)

This next section replaces the genre codes with their labels

In [633]:
dict = {"28" : "Action", "12" : "Adventure", "16" : "Animation", "35" : "Comedy", "80" : "Crime", "99" : "Documentary", "18" : "Drama", "10751" : "Family", "14" : "Fantasy", "36" : "History", "27" : "Horror", "10402" : "Music", "9648" : "Mystery", "10749" : "Romance", "878" : "SciFi", "10770" : "TVMovie", "53" : "Thriller", "10752" : "War", "37" : "Western"}

In [634]:
test_df = df

In [635]:
test_df = test_df.replace({'primary_genre': dict})

In [636]:
test_df['primary_genre'].head()

0     Drama
1    Comedy
2     Drama
3    Comedy
4     SciFi
Name: primary_genre, dtype: object

In [638]:
cols = list(test_df.columns)
a, b = cols.index('genre'), cols.index('primary_genre')
cols[b], cols[a] = cols[a], cols[b]
test_df = test_df[cols]

In [641]:
test_df['year'] = test_df['year'].astype('Int32')

In [644]:
test_df.to_csv('~/desktop/finalformat.csv', index = False)

In [ ]:
#up to here is all preparation of the data for analysis ...